# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/
venv/
# Environment variables
.env

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db 